Node-RED/send_report_email-node-red.json
[
    {
        "id": "38f200cc264e2694",
        "type": "tab",
        "label": "Send report (local)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2e3247fc5d7a998",
        "type": "inject",
        "z": "38f200cc264e2694",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "a42eab3a888d6ebd"
            ]
        ]
    },
    {
        "id": "a42eab3a888d6ebd",
        "type": "function",
        "z": "38f200cc264e2694",
        "name": "function",
        "func": "msg = {\n    attachments : {\n        filename: 'report.xlsx',\n        path: 'C:/Users/{{ruta_del_archivo}}/report.xlsx'\n    }\n}\nmsg.payload = \"Adjunto el fichero del reporte\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "6f4002f9f477a3db"
            ]
        ]
    },
    {
        "id": "6f4002f9f477a3db",
        "type": "e-mail",
        "z": "38f200cc264e2694",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "correo_electronico",
        "dname": "email",
        "x": 570,
        "y": 200,
        "wires": []
    }
]